<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/sample.js"></script>
</head>
<body>
    <style>
        .title{
            font-weight: bold;
            font-size: 35px;
            background-color: rgb(37, 37, 228);
            text-align: center;
            color: white;
            }
    </style>
    <p class="title">Tictactoe</p>
    <!-- style="list-style: none;" はリストの点を消す(none)-->
    <ul style="list-style: none;">
        <% tictactoe.forEach((tictable) => { %>
        <li>
            <span><%= tictable.rowone %></span>
            <span><%= tictable.rowtwo %></span>
            <span><%= tictable.rowthree %></span>
        </li>
    <% }) %>
    </ul>

</body>
</html>
